@page 
@model RazorFileUploads.Pages.Files.IndexModel
@{
    Layout = "_Layout";
}

<div class=" text-center">
    <h2 class="text-center text-title">Files List</h2>
</div>

@{
    Layout = "_Layout";
}
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Files</th>
            
            <th>File Name</th>
            <th>Downloads</th>
        </tr>
        @foreach (var file in @Model.fileList)
        {
            <tr>
                <td><img src="~/FileUploads/@file.FileName" class="rounded-circle" width="40" height="40"/></td>
               
                <td>@file.FileName</td>
                <td><a href="@Url.Page("Index", "DownloadFile", new { FileName = file.FileName })">Download</a></td>
                <td>
                    <a asp-page="./Edit" asp-route-fileName="@file.FileName">Edit</a> |
                    <a asp-page="./Details" asp-route-fileName="@file.FileName">Details</a> |
                    <a asp-page="./Delete" asp-route-fileName="@file.FileName">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>